*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(245, 245, 245, 0.925);
}
header{
    display: flex;
    background-color: rgb(248, 162, 50);
    color: rgba(245, 245, 245, 0.781);
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 16px;
    box-shadow: 1px 1px 5px 5px grey;
    

}
nav{
    color: rgb(247, 113, 4);
    font-size: 25px;
    display: flex;
    justify-content:end;
    align-items:center;

        
}
a{
    margin:  0 10px;
}


