*{
    margin: 0;
    padding: 0;
    
}
h1{
    padding: 12px;
    background-color: rgb(175, 215, 216);
    text-align: center;
    box-shadow: 8px 8px 12px rgb(88, 161, 163);
    color: grey; 
}
.navegadores{
    margin: 0 0 0 15px;
    position: absolute;
    top: 80px;
    background: rgb(88, 161, 163);
    border-radius: 5px;
    margin-right: 30px;
    right: 0;
    text-transform: uppercase;
    color:rgba(128, 128, 128, 0.562);
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    
}

.containter{
    text-align: center;
 
}
img{
    margin: auto;
    box-shadow: 8px 8px rgb(88, 161, 163);
    margin-top: 30px;
    padding: 0 0 0 10px;
       
}
p{  
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    padding: 12px;
    background-color: rgb(175, 215, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2, h3{
    
    color: grey;
    font-size: 25px;
    padding: 20px;
}
li{
    padding: 5px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*ESTILIZAÇÃO PORTFÓLIO*/
.image{
   
    
}
/*ESTILIZAÇÃO CONTATO*/
#redesociais{

}


